# Go временные файлы
*.exe
*.exe~
*.test
*.out

# Модули и кэш
/go/pkg/mod/
/vendor/

# Редакторы и IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Логи и временные файлы
*.log
.DS_Store
Thumbs.db